<h3>{{viewTitle}}</h3>
<form method="POST" action="/user/add" autocomplete="off">
  <input type="hidden" name="id" value="{{user._id}}">
  <div class="form-group">
    <label for="">Họ và tên:</label>
    <input type="text" class="form-control" placeholder="Nhập họ và tên" name="fullName" value="{{user.fullName}}">
  </div>

  <div class="form-group">
    <label for="">Email:</label>
    <input type="email" class="form-control" placeholder="Nhập email" name="email" value="{{user.email}}">
  </div>

  {{!-- <div class="form-group">
    <label for="">Ảnh:</label><br>
    <input type="file" name="avatar" value="{{user.avatar}}">
  </div> --}}

  <div class="form-group">
    <label for="">Mật khẩu:</label>
    <input type="password" class="form-control" placeholder="Password" name="password" value="{{user.password}}">
  </div>

  <button type="submit" class="btn btn-primary">Lưu</button>
  <a href="/user/list" class="btn btn-success">Danh sách user</a>
</form>

